<h1><%= "#{params[:keyword]}" %>の検索結果</h1>
<% @posts.each do |post| %>
<div>
  <p>ユーザーネーム：<%= post.user.name %></p>
  <%= link_to post_path(post.id) do %>
    <p>本文：<%= post.body %></p>
    <%= attachment_image_tag post, :image, size: "100x100" %></br>
  <% end %>
  <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
</div>
<% end %>

<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>