<h1>なんの話する？</h1>
<%= form_with model: @new_post, local:true do |f| %>
  <h4>ハッシュタグ</h4>
  <%= f.text_area :hashbody, size:"55x3" %>
  <h4>本文</h4>
  <%= f.text_field :body %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <%= f.submit '投稿' %>
<% end %>
  