<h1>投稿詳細・コメント</h1>
<section class="container post">
  <div class="row post-head">
    <div class="col-6 post-user">
      <%= attachment_image_tag @post.user, :profile_image, size: "35x35", format: 'jpeg', fallback: "no_imagesan.png" %>
      <%= @post.user.nickname %>
    </div>
    <div class="col-6 post-hashtags">
      <p>
        <% @post.hashtags.each do |hashtag| %>
          <%= link_to hashtag_path(hashtag.name) do %>
            <%= hashtag.name %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p><%= @post.body %></p>
      <%= attachment_image_tag @post, :image, size: "300x300" %></br>
    </div>
  </div>
  <div class="row reactions">
    <div class="col-3 favorite">
      <% if @post.favorited_by?(current_user) %>
        <span>
          <%= link_to post_favorites_path(@post), method: :delete do %>
            ♥<%= @post.favorites.count %>
          <% end %>
        </span>
        <% else %>
        <span>
          <%= link_to post_favorites_path(@post), method: :post do %>
            ♡<%= @post.favorites.count %> 
          <% end %>
        </span>
      <% end %>
    </div>
    <div class="col-3 comment">
      <span>
        コメント<%= @post.comments.count  %>件
      </span>
    </div>
    <div class="col-6 post-destroy-btn">
      <% if @post.user == current_user %>
        <%= link_to "削除", post_path(@post), method: :delete %>
      <% end %>
    </div>
  </div>
  <div>
    <% @post.comments.each do |comment| %>
      <div>
        <%= comment.user.name %>
        <%= comment.created_at.strftime('%Y/%m/%d') %></br>
        <%= comment.body %>
        <% if comment.user == current_user %>
          <div>
            <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form_with(model:[@post, @comment], local: true) do |f| %>
      <%= f.text_field :body, rows:'5',placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</section>