<!DOCTYPE html>
<html>
  <head>
    <title>Tagz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <heder class="header">
      <div class="container">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand logo">
              <span class="logo-icon"><%= image_tag'logobean.png', size: '60x60' %></span>
              <span class="logo-name"><h2 class="tagz">Tagz</h2></span>
            </div>
            <div class="navbar-items">
              <% if user_signed_in? %>
                <div class="search-form">
                  <%= form_with url: search_path, method: :get, local: true do |f| %>
                    <%= f.text_field :keyword, placeholder: "タグで検索"  %>
                    <%= f.submit "検索" %>
                  <% end %>
                </div>
                <div class="home-btn">
                  <%= link_to home_path do %>
                    <i class="fas fa-home fa-2x"></i>
                  <% end %>
                </div>
                <div class="post-btn">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" >
                    <i class="far fa-plus-square fa-2x"></i>
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">投稿を作成</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <%= form_with model: Post.new, local:true do |f| %>
                          <div class="modal-body">
                            <h4>なんの話する？</h4>
                            <%= f.text_field :names, placeholder: "タグを入力" %>
                            <%= f.text_field :body, size: "40", placeholder: "キャプションを入力", class: "post-form-body" %>
                            <h4>画像</h4>
                            <%= f.attachment_field :image %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">投稿する</button>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= attachment_image_tag current_user, :profile_image, size: "35x35", format: 'jpeg', fallback: "no_imagesan.png", class: "user-image" %><span class="user-name"><%= current_user.nickname %></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"><%= link_to "マイページ", user_path(current_user) %></a>
                    <a class="dropdown-item" href="#"><%= link_to "プロフィール編集", edit_user_path(current_user) %></a>
                    <a class="dropdown-item" href="#"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></a>
                  </div>
                </div>
              <% else %>
                <p>
                  <%= link_to "新規登録", new_user_registration_path %>　<%= link_to "ログイン", new_user_session_path %>
                </p>
              <% end %>
            </div>
          </div>
        </nav>
      </div>
    </heder>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
